.nav {
  display: flex;
  justify-content: space-between;

  &__links {
    display: flex;

    .logo-text {
      color: var(--primary);
      font-size: 3rem;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    &--link-items {
      display: flex;
      margin-left: 5rem;

      .item {
        margin: 0 2rem;
        list-style: none;

        &__link {
          text-decoration: none;
          color: var(--black);
        }

        .disable {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }

  .user-btn {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 1px solid var(--border);
    background-color: var(--white);

    .user-icon {
      color: var(--primary);
      font-size: 1.7rem;
    }
  }
}
