.card {
  display: flex;
  justify-content: space-between;
  width: 120rem;
  padding: 3.2rem 2.7rem;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
  border-radius: 0.4rem;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
