.progress-description {
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto Slab', serif;

  .chapter-name {
    font-size: 1.3rem;
    color: var(--black-two);
    opacity: 0.5;
  }

  .chapter-status {
    font-size: 1.6rem;
    letter-spacing: -0.4px;
    color: var(--black-two);
    margin-bottom: 2.3rem;
  }
}
